
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$container: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$colors: (
  primary: #008ccf,
  secondary: #006190,
  text:  #333,
  drawer-overlay : rgba(black, 0.5),
  drawer-background:white,
  border : #dbdbdb,
  border-hover : #b5b5b5,
  primary-invert : #fff,
  dark-overlay:rgba(0, 0, 0, 0.4)
);


 $roots : (
      container: 100%,
      gap: 1rem,
      menu-width : 320px,
      text-fs : 1rem,
      padding : 1rem
 );


$displayMap: inline block grid inline-block flex inline-flex none;
$justifyMap: center start end space-between flex-end flex-start;
$alignItemsMap: center start end;
