.btn {
  background-color: #fff;
  border: 1px solid var(--color-border);
  border-width: 1px;
  color: var(--color-text);
  cursor: pointer;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  box-shadow: none;
  display: inline-flex;
  font-size: var(--text-fs);
  height: 2.5em;

  line-height: 1.5;
  &:hover {
    border-color: var(--color-border-hover);
  }

}

.btn-primary{
    text-decoration: none;
    color:  var(--color-primary);
    border-color:  var(--color-primary);
}


.btn-backTop{
    position: fixed;
    bottom: 2vw;
    right: 2vw;
}