@use '../abstracts/' as *;
.contact-page{
  display: flex;
  flex-direction: column;
  min-height: 55vmin;
  justify-content: center;
  padding: var(--padding);
  h1{
    margin-bottom: 5vmin;
  }
  p{

    font-size: 1.5rem;
    @include min-q(md){
       width: 50%;
    }
  }
  &--links{
    margin-top: 25px;
    a{
      color: var(--color-primary);
      font-size: 24px;
      text-decoration: none;
      display: inline-block;
      margin-bottom:  var(--padding);
    }
  }
}
